/build*
/.vscode/
/.vs/

# documentation
/docs/site/
/docs/venv/

# test data
/tests/unit_test/test_data.hpp
/tests/yaml_test_suite_runner/yaml_test_suite_dir.hpp

# natvis generator
/tools/natvis_generator/venv/
