version: 1.0.{build}

# only build PRs and commits to develop branch
branches:
  only:
    - develop

only_commits:
  files:
    - cmake/
    - include/
    - test/
    - appvayor.yml
    - CMakeLists.txt

environment:
  matrix:
    - APPVAYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      CONFIGURATION: Debug
      GENERATOR: Visual Studio 14 2015
      ARCHITECTURE: x64
    - APPVAYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      CONFIGURATION: Release
      GENERATOR: Visual Studio 14 2015
      ARCHITECTURE: x64
    - APPVAYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      CONFIGURATION: Debug
      GENERATOR: Visual Studio 15 2017
      ARCHITECTURE: x64
    - APPVAYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      CONFIGURATION: Release
      GENERATOR: Visual Studio 15 2017
      ARCHITECTURE: x64

init:
  - cmake --version
  - msbuild /version

before_build:
  - cmake -S . -B build -G "%GENERATOR%" -A %ARCHITECTURE% - -DFK_YAML_BUILD_TEST=ON

build_script:
  - cmake --build build --config %CONFIGURATION% -j 2

test_script:
  - ctest -C %CONFIGURATION% --test-dir build --output-on-failure -j 2
