 _______   __ __   __  _____   __  __  __
|   __| |_/  |  \_/  |/  _  \ /  \/  \|  |     fkYAML: A C++ header-only YAML library (supporting code)
|   __|  _  < \_   _/|  ___  |    _   |  |___  version 0.4.2
|__|  |_| \__|  |_|  |_|   |_|___||___|______| https://github.com/fktn-k/fkYAML

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}
{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}