name: Windows

on:
  push:
    branches:
      - develop
      - main
    paths:
      - .github/workflows/windows.yml
      - cmake/**
      - include/**
      - single_include/**
      - tests/**
      - CMakeLists.txt
  pull_request:
    paths:
      - .github/workflows/windows.yml
      - cmake/**
      - include/**
      - single_include/**
      - tests/**
      - CMakeLists.txt
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

env:
  JOBS: 3

jobs:
  vs2019:
    timeout-minutes: 10
    runs-on: windows-2019
    strategy:
      fail-fast: false
      matrix:
        arch: [ Win32, x64 ]
        build_type: [ Debug, Release ]
        single_header: [ "ON", "OFF" ]

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -G "Visual Studio 16 2019" -A ${{matrix.arch}} -DFK_YAML_BUILD_TEST=ON -DFK_YAML_USE_SINGLE_HEADER=${{matrix.single_header}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} -j ${{env.JOBS}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{matrix.build_type}} --output-on-failure -j ${{env.JOBS}}

  vs2022:
    timeout-minutes: 10
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        arch: [ Win32, x64 ]
        build_type: [ Debug, Release ]
        single_header: [ "ON", "OFF" ]

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -G "Visual Studio 17 2022" -A ${{matrix.arch}} -DFK_YAML_BUILD_TEST=ON -DFK_YAML_USE_SINGLE_HEADER=${{matrix.single_header}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} -j ${{env.JOBS}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{matrix.build_type}} --output-on-failure -j ${{env.JOBS}}

  vs2022_cxx_standard:
    timeout-minutes: 10
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        cxx_standards: [ "11", "14", "17", "20", "23" ]
        build_type: [ Debug, Release ]

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -G "Visual Studio 17 2022" -A x64 -DFK_YAML_BUILD_TEST=ON -DFK_YAML_TEST_CXX_STANDARD=${{matrix.cxx_standards}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} -j ${{env.JOBS}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{matrix.build_type}} --output-on-failure -j ${{env.JOBS}}

  mingw:
    timeout-minutes: 10
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2019, windows-2022 ]
        build_type: [ Debug, Release ]

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -S ${{github.workspace}} -G "MinGW Makefiles" -DFK_YAML_BUILD_TEST=ON

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} -j ${{env.JOBS}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{matrix.build_type}} --output-on-failure -j ${{env.JOBS}}
